[run]
source = ft
omit =
    */migrations/*
    ft/*/migrations/*.py
    */settings.py
    */tests/*
    */admin.py
    */apps.py
    */urls.py
    */wsgi.py
    */asgi.py
    */manage.py
    ft/resources/migrations/0002_init_datas.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError

[html]
directory = coverage_reports/html

[xml]
output = coverage_reports/coverage.xml
